<div class="grid grid-cols-3 p-8 gap-3">
    <!-- Box with Action buttons -->
    <div class="p-4 border-2 border-gray-400 rounded-lg grid h-fit">
      <h2 class="text-4xl font-semibold mb-4 text-center">Admin Functies</h2>
      <button class="bg-red-500 hover:bg-red-800 text-white rounded-lg px-4 py-2 w-full my-3 ">Voeg foto toe</button>
      <button class="bg-red-500 hover:bg-red-800 text-white rounded-lg px-4 py-2 w-full my-3">Voeg Leiding toe</button>
    </div>

    <!-- List of all users that are Authenticated  -->
    <div class="p-4 rounded-lg col-span-2 border-2 border-gray-400">
      <h2 class="text-4xl font-semibold mb-4 text-center">Leiding / Gebruikers</h2>
      <!-- Legend Div -->
      <div class="grid grid-cols-7 grid-rows-1 shadow-md text-left bg-orange-400 rounded-sm border-2 border-black mb-2 font-bold">
        <div class="text-center w-fit px-3 ml-6 col-span-2 flex items-center ">
          <span class="">Naam</span>
        </div>
        <div class="text-center w-fit px-3 ml-6 col-span-2 flex items-center ">
            <span class="">Email</span>
        </div>  
        <div class="text-center w-fit px-3 ml-6 col-span-2 flex items-center ">
          <span class="">Afdeling</span>
        </div> 
        <div class="text-center col-span-1 flex align ">
          <span class=""> Buttons </span>
        </div>
      </div>
      
      <!-- Content div-->
      <div>
        <div class="grid grid-cols-7 grid-rows-1 shadow-md text-left bg-orange-300 rounded-lg border-2 border-black mb-2 p-1">          
          <div class="text-center w-fit px-3 ml-6 col-span-2 flex items-center">
            <span class="text-sm font-medium"> user.name </span>
          </div>          
          <div class="text-center w-fit px-3 ml-6 col-span-2 flex items-center">
              <span class="text-sm font-medium"> user.email</span>
          </div>    
          <div class="text-center w-fit px-3 ml-6 col-span-2 flex items-center">
            <span class="text-sm border-2 font-semibold rounded-2xl px-4" >user.afdeling </span>
          </div>           
          <div class="text-center col-span-1 flex align">
            <button class="border-2 rounded-lg border-blue-600 bg-blue-400 py-1 px-6 font-semibold">Info</button>
          </div>        
        </div>
      </div>
    </div>
  
  


</div>  