<header class="bg-red-500 p-2">
    <nav class="flex justify-between items-center">
      <div class="text-white text-xl font-semibold">
        <img src="assets/chiro.png" alt="" style="height: 50px;" />
      </div>
      <ul class="flex space-x-4 items-center">
        <li class="px-2 rounded-lg ease-in-out duration-400 hover:bg-red-800 cursor-pointer"><a class="text-white">Dashboard</a></li>
        <li class="px-2 rounded-lg ease-in-out duration-400 hover:bg-red-800 cursor-pointer"><a class="text-white">Afdelingen</a></li>
        <li routerLink="/login" class="px-2 rounded-lg ease-in-out duration-400 hover:bg-red-800 cursor-pointer"><a class="text-white">Login</a></li>
        <li class="px-2 rounded-lg ease-in-out duration-400 hover:bg-red-800 cursor-pointer"><a class="text-white">Verjaardagen</a></li>
      </ul>
      <div class="relative">
        <input type="text" placeholder="Search" class="px-3 py-1 text-gray-800 border rounded-lg focus:outline-none focus:border-blue-500" />
        
        <button class="absolute right-0 top-0 mt-1 mr-2">
            <i class="fas fa-search text-gray-600"></i>
        </button>
      </div>
    </nav>
  </header>
  