<form #nieuwLidForm="ngForm" (ngSubmit)="submitNieuwLidForm(nieuwLidForm.value)">
<div class="max-w-2xl mx-auto mt-1 p-4 border rounded-lg shadow-lg">
    <div class="bg-red-500 text-white text-center py-2 px-4 rounded-t-lg">
      <h2 class="text-xl font-bold">Nieuw Lid Form</h2>
    </div>
    <div class="bg-white p-4 rounded-b-lg flex flex-wrap justify-between">
      <div class="w-full md:w-1/2 mb-4 md:pr-2">
        <label for="voornaam" class="font-semibold">Voornaam:</label>
        <input type="text" name="voornaam" placeholder="Voornaam" [(ngModel)]="voornaam"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-gray-500" required>
      </div>
      <div class="w-full md:w-1/2 mb-4 md:pl-2">
        <label for="name" class="font-semibold">Naam:</label>
        <input type="text" name="name" placeholder="Naam" [(ngModel)]="name"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-gray-500" required>
      </div>
      <div class="w-full md:w-1/2 mb-4 md:pr-2">
        <label for="department" class="font-semibold">Voornaam Afdeling:</label>
        <select name="department" [(ngModel)]="department"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-gray-500" required>
          <option value="Ribbel Jongens">Ribbel J</option>
          <option value="Robbel Meisjes">Robbel M</option>
          <option value="Speelclub Jongens">Speelclub J</option>
          <option value="Speelclub Meisjes">Speelclub M</option>
          <option value="Rakkers">Rakkers</option>
          <option value="Kwiks">Kwiks</option>
          <option value="Toppers">Toppers</option>
          <option value="Tippers">Tippers</option>
          <option value="Kerels">Kerels</option>
          <option value="Tipties">Tipties</option>
          <option value="Aspi Jongens">Aspi Jongens</option>
          <option value="Aspi Meisjes">Aspi Meisjes</option>
        </select>
      </div>
      <div class="w-full md:w-1/2 mb-4 md:pl-2">
        <label for="email" class="font-semibold">Email:</label>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="email"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-gray-500" required>
      </div>
      <div class="w-full md:w-1/2 mb-4 md:pr-2">
        <label for="phone" class="font-semibold">Telefoon:</label>
        <input type="tel" name="phone" placeholder="Telefoon" [(ngModel)]="phone"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-gray-500">
      </div>
      <div class="w-full md:w-1/2 mb-4 md:pl-2">
        <label for="street" class="font-semibold">Straat:</label>
        <input type="text" name="street" placeholder="Straat" [(ngModel)]="street"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-gray-500" required>
      </div>
      <div class="w-full md:w-1/2 mb-4 md:pr-2">
        <label for="houseNumber" class="font-semibold">Huisnummer:</label>
        <input type="text" name="houseNumber" placeholder="Huisnummer" [(ngModel)]="houseNumber"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-gray-500" required>
      </div>
      <div class="w-full md:w-1/2 mb-4 md:pl-2">
        <label for="postcode" class="font-semibold">Postcode:</label>
        <input type="text" name="postcode" placeholder="Postcode" [(ngModel)]="postcode"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-gray-500" required>
      </div>
      <div class="w-full mb-4">
        <label for="city" class="font-semibold">Gemeente:</label>
        <input type="text" name="city" placeholder="Gemeente" [(ngModel)]="city"
          class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-gray-500" required>
      </div>
      <div class="w-full text-center">
        <button type="submit"
          class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-full">Submit</button>
      </div>

      <div class="rounded-md px-2 py-3 text-center mt-2 font-bold w-full text-center mt-2" [style.border]="bColor" [style.background]="bgColor">
          {{ responseMessage }}
      </div>
    </div>
  </div>
</form>