<div class="bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-6xl font-semibold text-center">Afdeling</h2>
    <div class="mb-24 mx-auto w-fit mt-4">
        <button [routerLink]="['/addLid']" routerLinkActive="router-link-active"  class="border-2 bg-red-300 border-red-700 px-8 py-2 text-lg rounded-md hover:bg-red-400 ease-in-out font-semibold">Voeg Nieuw Lid Toe</button>
    </div>
        <div class="grid grid-cols-2 gap-4 text-lg text-center">
        <div [routerLink]="['/afdelingLijst', 1]" class="border-2 border-purple-700 bg-purple-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-purple-500 hover:font-semibold">
            Ribbel <i class="fa-solid fa-venus fa-lg"></i>
        </div>
        <div [routerLink]="['/afdelingLijst', 2]" class="border-2 border-purple-700 bg-purple-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-purple-500 hover:font-semibold">
            Ribbel <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/afdelingLijst', 3]" class="border-2 border-yellow-700 bg-yellow-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-yellow-500 hover:font-semibold">
            Speelclub <i class="fa-solid fa-venus fa-lg"></i>
        </div>
        <div [routerLink]="['/afdelingLijst', 4]" class="border-2 border-yellow-700 bg-yellow-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-yellow-500 hover:font-semibold">
            Speelclub <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/afdelingLijst', 5]" class="border-2 border-green-700 bg-green-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-green-500 hover:font-semibold">
            Kwiks <i class="fa-solid fa-venus fa-lg"></i>
        </div>
        <div [routerLink]="['/afdelingLijst', 6]" class="border-2 border-green-700 bg-green-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-green-500 hover:font-semibold">
            Rakkers <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/afdelingLijst', 7]" class="border-2 border-red-700 bg-red-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-red-500 hover:font-semibold">
            Tippers <i class="fa-solid fa-venus fa-lg"></i>
        </div>
        <div [routerLink]="['/afdelingLijst', 8]" class="border-2 border-red-700 bg-red-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-red-500 hover:font-semibold">
            Toppers <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/afdelingLijst', 9]" class="border-2 border-blue-700 bg-blue-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-blue-500 hover:font-semibold">
            Tip 10's <i class="fa-solid fa-venus fa-lg"></i>
        </div>
        <div [routerLink]="['/afdelingLijst', 10]" class="border-2 border-blue-700 bg-blue-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-blue-500 hover:font-semibold">
            Kerels <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/afdelingLijst', 11]" class="border-2 border-orange-700 bg-orange-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-orange-500 hover:font-semibold">
            Aspi <i class="fa-solid fa-mars fa-lg"></i>
        </div>
        <div [routerLink]="['/afdelingLijst', 12]" class="border-2 border-orange-700 bg-orange-400 rounded-lg py-2 px-6 cursor-pointer ease-in-out duration-300 hover:bg-orange-500 hover:font-semibold">
            Aspi <i class="fa-solid fa-mars fa-lg"></i>
        </div>
    </div>
</div>
