<div class="text-center font-bold text-3xl mt-3"> {{afdeling}} </div>

<div class="grid grid-cols-3 gap-4 p-4">
    <div *ngFor="let lid of leden" class="p-4 shadow-md text-center bg-orange-300 rounded-lg border-2 border-black">
      <span class="text-2xl font-semibold">Naam: 
        <span class="text-xl font-normal">{{ lid.naam }} {{ lid.voornaam }} </span>
      </span> <br>
      <span class="text-2xl font-semibold">Afdeling: 
        <span class="text-xl font-normal">{{ lid.afdeling }}</span>
      </span><br>
      <span class="text-2xl font-semibold">Email: 
        <span class="text-xl font-normal">{{ lid.email }} </span>
      </span> <br>
      <span class="text-2xl font-semibold">Telefoon: 
        <span class="text-xl font-normal">{{ lid.telefoon }} </span>
      </span> <br>
      <span class="text-2xl font-semibold">Address:
        <span class="text-xl font-normal"> {{ lid.Straat }} {{lid.Huisnummer}} {{lid.Gemeente}} {{lid.Postcode}}  </span>
      </span> <br>
      <button class="bg-red-500 border-2 border-red-800 hover:bg-red-800  ease-in-out duration-400 px-4 py-1 rounded-md text-white font-semibold mt-2"> Details </button>      
    </div>
  </div>
  